# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!target/classes/architecture.png

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment
.env
